@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e7e7;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
